
.idea/inspectionProfiles/Project_Default.xml
.idea/LoL-eSports-Highlight-Extractor.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/lol_image.cpython-37.pyc
*.xml
.DS_Store
spell-recognition/__pycache__/lol_spell_recognition.cpython-37.pyc
/spell-recognition/credentials.json
/.idea/shelf/Uncommitted_changes_before_Update_at_02_08_2020_14_45_[Default_Changelist]/shelved.patch
