
.idea/inspectionProfiles/Project_Default.xml
.idea/LoL-eSports-Highlight-Extractor.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/lol_image.cpython-37.pyc
